/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'bootstrap/scss/bootstrap';
@import "simple_calendar";
.body-wrapper {
  height: 100%;
  .sidebar-wrapper {
    height: 100%;
  }
}
 // Sign in and Sign up pages styling
 
.icon{
  width: 3em;
}
.company-show:hover {
  border: 1px solid #0275d8;
}
.company-show {
  border: 1px solid lightgray;
}
.illustration {
  width: 10em;
}

// display calendar event link styling
.event-link {
  background-color: #0275d8;
  display: inline-block;
  width: 100%;
  color: white;
  margin-top: 1%;
}

.select2-container {
  .select2-small-dropdown-container {
    .select2-results {
      .select2-results__option {
        padding: 5px 7px !important;
        line-height: 21px;
      }
      .select2-results__option[role=group] {
        padding: 0 !important;
      }
      .select2-results__group:empty {
        padding: 0 !important;
      }
      .select2-results__option:empty {
        height: 26px !important;
      }
      .select2-results__option[role=group]:not(:first-child) {
        border-top: 1px solid blue;
        margin-top: 5px !important;
        padding-top: 5px !important;
      }
    }
  }
}