$header_image_background_color: #00BFFF;
$body_text_color: #444444;
$headings_color: #fff;
$sections_background_color: #f3f5fa;

body {
  overflow: scroll;
  color: $body_text_color;
}
#hero {
  width: 100%;
  height: 50vh;
  background: $header_image_background_color;
  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: $headings_color;
  }
  h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  img {
    height: 45%;
    margin-top: 30%;
  }
}
section {
  padding: 60px 0;
  .section-bg {
    background-color: $sections_background_color;
  }
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #37517e;
    }
    p {
      margin-bottom: 0;
    }
  }
}
.team {
  .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    .pic {
      width: 180px;
      border-radius: 50%;
      img {
        transition: ease-in-out 0.3s;
      }
    }
    .member-info {
      padding-left: 30px;
    }
    h4 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 20px;
      color: #37517e;
    }
    span {
      display: block;
      font-size: 15px;
      padding-bottom: 10px;
      position: relative;
      font-weight: 500;
    }
    p {
      margin: 10px 0 0 0;
      font-size: 14px;
    }
  }
}
.member:hover {
  transform: translateY(-10px);
}
.services{
  .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    .icon {
      margin-bottom: 10px;
      i {
        color: #47b2e4;
        font-size: 36px;
        transition: 0.3s;
      }
    }
    h4 {
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 24px;
      a {
        color: #37517e;
        transition: ease-in-out 0.3s;
      }
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .icon-box:hover {
    transform: translateY(-10px);
  }
  .icon-box:hover h4 a {
    color: #47b2e4;
  }
}
.about {
  .content{
    h3 {
      font-weight: 600;
      font-size: 26px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-left: 28px;
      position: relative;
    }
  }
  i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
  }
  .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
  }
  .btn-learn-more:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
  }
}
a {
  color: #47b2e4;
  text-decoration: none;
}
a:hover {
  color: #73c5eb;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  position: fixed;
  background: #header_image_background_color;
  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      color: #fff;
    }
    img {
      max-height: 40px;
    }
  }
}
.navbar {
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  li {
    position: relative;
    .sign-in-up {
      padding: 8px 20px;
      margin-left: 30px;
      border-radius: 50px;
      color: $header_image_background_color;
      background: white;
      font-size: 14px;
      border: 2px solid #47b2e4;
      font-weight: 600;
    }
    .sign-in-up:hover {
      color: $header_image_background_color;
    }
  }
  a,a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    i{
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  }
  a:hover,.active,.active:focus,li:hover {
    color: white;
    font-weight:  bold;
  }
}
#footer {
  font-size: 14px;
  background: $header_image_background_color;
  position: relative;
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: $headings_color;
  }
  .copyright {
    float: left;
  }
}