$background_color: #404040;
$text_color: #fff;
$hover_background_color: #fff;

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.sidebar{
  position: fixed;
  height: 100%;
  width: 75px;
  background: $background_color;
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: all 0.5s ease;

    .logo-content .logo{
      color: $text_color;
      display: flex;
      height: 50px;
      width: 100%;
      align-items: center;
      opacity: 0;
      pointer-events: none;

      i{
        font-size: 28px;
        margin-right: 5px;
      }

      .logo-name{
        font-size: 20px;
        font-weight: 400;
      }
    }

    .css-sidebar-toggle{
      position: absolute;
      color: $text_color;
      left: 40%;
      top: 6px;
      font-size: 20px;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      padding-right: 60px;
    }

    .links-name{
      opacity: 0;
      pointer-events: none;
    }

    ul{
      margin-top: 20px;
      padding-left: 0px;

      li{
        position: relative;
        height: 50px;
        width: 100%;
        list-style: none;
        line-height: 50px;

        a{
          color: $text_color;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all 0.5s ease;
          border-radius: 12px;
          white-space: nowrap;

          i {
            height: 50px;
            min-width: 50px;
            border-radius: 12px;
            line-height: 50px;
            text-align: center;
          }
        }

        a:hover{
          color: $background_color;
          background: $hover_background_color;
        }
      }
    }
    .logout-option{
      position: relative;
      bottom: 0;
    }
}

.sidebar.active{
  width: 240px;

  .logo-content .logo{
    opacity: 1;
    pointer-events: none;
  }

  .css-sidebar-toggle{
    left: 80%;
  }

  .links-name{
    opacity: 1;
    pointer-events: auto;
  }
}

.home_content{
  position: absolute;
  height: 100%;
  left: 75px;
  width: calc(100% - 75px);
  transition: all 0.5s ease;
}